---
BasedOnStyle: LLVM
Language: Cpp
Standard: c++17
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
ReferenceAlignment: Left
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
SortIncludes: Never
AlignTrailingComments: true
AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
...
